*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/kotlinc.xml
/.idea/compiler.xml
/.idea/.name
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetDropDown.xml
merge.sarif
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/git_toolbox_blame.xml
/.idea/AndroidProjectSystem.xml
/navigation/sample/.idea/appInsightsSettings.xml
/navigation/sample/.idea/deploymentTargetSelector.xml
/navigation/sample/.idea/other.xml
