{
	"noCi": true,
	"repositoryUrl": ".",
	"verifyConditions": false,
	"prepare": false,
	"publish": "./publish.js",
	"success": false,
	"fail": false,
	"analyzeCommits":{
        "releaseRules": [
            {breaking: true, release: 'major'},
            {"type": "feat", "release": "minor"},
            {"type": "fix", "release": "patch"},
        ],
		"parserOpts": {
			"noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
		}
	},
	"generateNotes":{
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
      }
    }
}
