# Default ignored files
/shelf/
/workspace.xml
/androidTestResultsUserPreferences.xml
/artifacts
/migrations.xml
/kotlinScripting.xml
/appInsightsSettings.xml
/deploymentTargetSelector.xml
/other.xml
/inspectionProfiles/Project_Default.xml
/ktlint-plugin.xml
/runConfigurations.xml
/AndroidProjectSystem.xml
