name: publish
run-name: "Publish"
on:
  push:
    branches:
      - master
jobs:
  build-app:
    runs-on: "ubuntu-latest"
    env:
      BUILD_NUMBER: ${{ github.run_number }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.RELEASE_SSH_KEY }}
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: gradle
      - name: Setup Android SDK
        uses: android-actions/setup-android@7c5672355aaa8fde5f97a91aa9a99616d1ace6bc
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@ac638b010cf58a27ee6c972d7336334ccaf61c96
      - run: "v=$(cat version.txt);echo \"OLD_VERSION=$v\" > $GITHUB_ENV"
      - name: Check if there were any new fix or feature commits
        id: version-check
        uses: inovait/actions-common/bump-version-since-last-build@v11
        with:
          version: '${{ env.OLD_VERSION }}'
      - run: "echo \"No feature or fix commits. Skipping build...\""
        if: "${{ steps.version-check.outputs.version == env.OLD_VERSION }}"
      - uses: andymckay/cancel-action@0.3
        if: "${{ steps.version-check.outputs.version == env.OLD_VERSION }}"
      - name: "Wait for cancel to stick"
        run: "sleep 99999"
        if: "${{ steps.version-check.outputs.version == env.OLD_VERSION }}"
      - run: "./bump_version.sh ${{ steps.version-check.outputs.version }}"
      - run: "v=$(cat version.txt);echo \"VERSION=$v\" > $GITHUB_ENV"
      - run: "echo \"# Release version ${{ env.VERSION }}\" > $GITHUB_STEP_SUMMARY"
      - name: Compile library
        run: "./gradlew --parallel assemble :kotlinova-gradle:jar"
      - name: Compile Unit Tests
        # We cannot run instrumented tests on CI, but at least we can compile them to ensure
        # that DI build passes.
        run: "./gradlew --parallel jvmTestClasses compileDebugUnitTestKotlinAndroid compileReleaseUnitTestKotlinAndroid assembleAndroidTest testClasses"
      - name: Lint
        run: "./gradlew --continue --parallel buildSrc:detekt detektTest detektMain detektJvmMain detektAndroidDebug detektAndroidRelease detektJvmTest :kotlinova-gradle:detektMain lint"
      - name: Run Unit Tests
        run: "./gradlew test jvmTest"
      - name: Generate Changelog
        id: changelog
        uses: inovait/actions-common/changelog-since-last-build@v11
        with:
          git_commit_url_prefix: 'https://github.com/inovait/kotlinova/commit/'
      - name: 'Save GPG key'
        run: 'echo "${{ secrets.GPG_SIGNING_KEY }}" | base64 -d > signing_key.gpg'
      - name: 'Publish'
        run: './gradlew publishAllPublicationsToMavenCentralRepository :kotlinova-gradle:publishAllPublicationsToMavenCentralRepository
                --no-configuration-cache
                -PmavenCentralUsername=''${{ secrets.MAVEN_CENTRAL_USERNAME }}''
                -PmavenCentralPassword=''${{ secrets.MAVEN_CENTRAL_PASSWORD }}''
                -Psigning.secretKeyRingFile=$(pwd)/signing_key.gpg
                -Psigning.password=''${{ secrets.GPG_SIGNING_PASSPHRASE }}''
                -Psigning.keyId=${{ secrets.GPG_SIGNING_ID }}'
      # Releasing the repository is done automatically for now,
      # until https://github.com/vanniktech/gradle-maven-publish-plugin/issues/1130 is solved
      #      - name: 'Release staging repository'
      #        run: './gradlew releaseRepository
      #                --no-configuration-cache
      #                -PossrhRepId=''${{ steps.create_staging_repository.outputs.repository_id }}''
      #                -PmavenCentralUsername=''${{ secrets.OSSRH_USERNAME }}''
      #                -PmavenCentralPassword=''${{ secrets.OSSRH_PASSWORD }}'''
      - name: 'Add changelog and version'
        run: 'git add version.txt'
      - run: 'git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"'
      - run: 'git config --global user.name "github-actions[bot]"'
      - name: 'Commit changelog and version'
        run: 'git commit -m "chore: release ${{ env.VERSION }}"'
      - name: 'Push changelog and version'
        run: 'git push'
      - name: 'Create tag'
        run: 'git tag ${{ env.VERSION }}'
      - name: 'Push tag'
        run: 'git push origin ${{ env.VERSION }}'
      - name: Create a Release
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ env.VERSION }}
          tag: ${{ env.VERSION }}
          body: ${{ steps.changelog.outputs.changelog }}
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v2
        if: always()
        with:
          comment_mode: failures
          junit_files: |
            **/build/outputs/*-results/**/*.xml
            **/build/*-results/**/*.xml
