# Manual publish workflow that publishes a library version from any branch with the specified version
name: publish-manual
run-name: "Manual publish"
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish'
        required: true
jobs:
  build-app:
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    runs-on: "ubuntu-latest"
    env:
      BUILD_NUMBER: ${{ github.run_number }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: gradle
      - name: Setup Android SDK
        uses: android-actions/setup-android@7c5672355aaa8fde5f97a91aa9a99616d1ace6bc
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6
      - run: "./bump_version.sh ${{ github.event.inputs.version }}"
      - run: "v=$(cat version.txt);echo \"VERSION=$v\" > $GITHUB_ENV"
      - run: "echo \"# Release version ${{ env.VERSION }}\" > $GITHUB_STEP_SUMMARY"
      - name: Compile library
        run: "./gradlew --parallel assemble :kotlinova-gradle:jar"
      - name: Compile Unit Tests
        # We cannot run instrumented tests on CI, but at least we can compile them to ensure
        # that anvil build passes.
        run: "./gradlew --parallel jvmTestClasses compileDebugUnitTestKotlinAndroid compileReleaseUnitTestKotlinAndroid assembleAndroidTest testClasses"
      - name: Lint
        run: "./gradlew --continue --parallel buildSrc:detekt detektMetadataMain detektJvmMain detektAndroidDebug detektAndroidRelease detektJvmTest :kotlinova-gradle:detektMain lint"
      - name: Run Unit Tests
        run: "./gradlew test jvmTest"
      - name: 'Save GPG key'
        run: 'echo "${{ secrets.GPG_SIGNING_KEY }}" | base64 -d > signing_key.gpg'
      - name: 'Publish'
        run: './gradlew publishAllPublicationsToMavenCentralRepository :kotlinova-gradle:publishAllPublicationsToMavenCentralRepository
                --no-configuration-cache
                -PmavenCentralUsername=''${{ secrets.MAVEN_CENTRAL_USERNAME }}''
                -PmavenCentralPassword=''${{ secrets.MAVEN_CENTRAL_PASSWORD }}''
                -Psigning.secretKeyRingFile=$(pwd)/signing_key.gpg
                -Psigning.password=''${{ secrets.GPG_SIGNING_PASSPHRASE }}''
                -Psigning.keyId=${{ secrets.GPG_SIGNING_ID }}'
      #      - name: 'Release staging repository'
      #        run: './gradlew releaseRepository
      #                --no-configuration-cache
      #                -PossrhRepId=''${{ steps.create_staging_repository.outputs.repository_id }}''
      #                -PmavenCentralUsername=''${{ secrets.OSSRH_USERNAME }}''
      #                -PmavenCentralPassword=''${{ secrets.OSSRH_PASSWORD }}'''
      - name: 'Create tag'
        run: 'git tag ${{ env.VERSION }}'
      - name: 'Push tag'
        run: 'git push origin ${{ env.VERSION }}'
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v2
        if: always()
        with:
          comment_mode: failures
          junit_files: |
            **/build/outputs/*-results/**/*.xml
            **/build/*-results/**/*.xml
