name: pull-request-build
run-name: "Pull Request"
on:
  pull_request
jobs:
  build-app:
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    runs-on: "ubuntu-latest"
    env:
      BUILD_NUMBER: ${{ github.run_number }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: gradle
      - name: Setup Android SDK
        uses: android-actions/setup-android@7c5672355aaa8fde5f97a91aa9a99616d1ace6bc
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@ac638b010cf58a27ee6c972d7336334ccaf61c96
      - name: Compile library
        run: "./gradlew --parallel assemble :kotlinova-gradle:jar"
      - name: Compile Unit Tests
        # We cannot run instrumented tests on CI, but at least we can compile them to ensure
        # that anvil build passes.
        run: "./gradlew --parallel jvmTestClasses compileDebugUnitTestKotlinAndroid compileReleaseUnitTestKotlinAndroid assembleAndroidTest testClasses"
      - name: Lint
        run: "./gradlew --continue --parallel buildSrc:detekt detektMetadataMain detektJvmMain detektAndroidDebug detektAndroidRelease detektJvmTest :kotlinova-gradle:detektMain lint reportMerge --continue"
      - name: Run Unit Tests
        run: "./gradlew test jvmTest"
      - run: echo ${{ github.event.number }} > pr_number.txt
        if: (!cancelled())
      - name: Upload Results
        if: (!cancelled())
        uses: actions/upload-artifact@v6
        with:
          name: results
          path: |
            **/build/outputs/*-results/**/*.xml
            **/build/*-results/**/*.xml
            pr_number.txt
            ${{ github.event_path }}
            merge.sarif
            navigation/tests/build/outputs/apk/androidTest/debug/tests-debug-androidTest.apk
